*{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}




.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px ;
  background-color:  rgba(188, 37, 37, 0.72); 
  margin: -470px 0;
  
} 



.nav ul.nav-list{
    list-style-type: none;
    

}
.colour{
    background-color: #bc2525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
    background-color:  rgba(188, 37, 37, 0.72); 
    margin: -250px 0;
    width: 100%;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 0px;
    display: inline-block;
    padding-bottom: 7px;
    position: relative;
    overflow: hidden;
}

.nav ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #bc2525;
    bottom: 0px;
    left:-100%;
    transition: all .3s ease-in-out;

}

.nav ul li a:hover:after{
    left: 0;
}

.nav ul li a button{
    width: 100px;
    height: 35px;
    font-weight: 700;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #bc2525;
    box-shadow: inset black;
    border: none;
    margin-right: 12px;
    
}

.logo a img{
    width: 130px;
    margin: 15px 50px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width:  1400px;
  margin: -150px 0px;
}


/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 100px 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown  {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1{
    margin: 850px 50px;
    text-align: center;
    font-size: 20px;
}

h2{
  margin: -825px 50px;
  text-align: center;
  font-size: 20px;
}

.covid-container{
    margin: 900px 210px;
    background-color: #bc2525;
    width: 100%;
    padding: 2em;
    border-radius: 30px;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f9f9f9;
}



.icon1{
    background-color: #D0B529 ;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    margin: 2px 45px;
    margin-bottom: 28px;
}

.icon2{
    background-color: #4CB73A ;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    margin: 30px 50px;
   
}

.icon3{
    background-color: orange ;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    position: relative;
    margin: 30px 50px;
}
.icon4{
    background-color: #000000 ;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    position: relative;
    margin:31px 50px;
}


.active-sign{
    margin: 25px 17px;
    position: absolute;               
    transform: translate(0, -50%) ;
    font-size: 25px;
    
}

.image{

    margin: 25px -8px;
    position: absolute;               
    transform: translate(0, -50%) ;
    font-size: 25px;

    
}

.active-sign2{
    margin: 25px 21px;
    position: absolute;               
    transform: translate(0, -50%) ;
    font-size: 25px;
    
}

.board{

    column-count: 4;
    column-gap: 5em;
  
  }
  .title{
      padding-bottom: 50px;
  }

  .search{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: 120%;
}

.covid-container button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
}


